<h2>Admin Sign-In Page</h2>

<% if flash[:errors] %>
  <p class="errors"><%= flash[:errors] %></p>
<% end %>

<%= form_tag sessions_path do %>
  <%= label_tag :email, "Email" %>
  <%= email_field_tag :email, nil, :placeholder => "Email" %>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password, nil, :placeholder => "Password" %>
  <%= button_tag "Sign In" %>
<% end %>