<h2><%= current_user.full_name %> Admin Page</h2>

<ul id="new_content">
  <li><a class="new_post" data=".admin_post_form" href="#">New Post</a></li>
  <li><a class="new_photo" data=".admin_photo_form" href="#">New Photo</a></li>
</ul>

<% if flash[:errors] %>
  <p class="errors"><%= flash[:errors] %></p>
<% end %>

<div class="admin_post_form entry" >
  <h3>New Post</h3>
  <h4><a class="admin_close" href="#">Close</a></h4>
  <%= form_for @post do |p| %>
    <%= p.text_field :title, :placeholder => "Post Title" %>
    <%= p.text_area :body, :placeholder => "Post Body" %>
    <%= p.text_field :tags, :value => nil, :placeholder => "Tags" %>
    <%= check_box_tag(:tweet, '1', false, :class=> "regular-checkbox") %>
    <%= label_tag(:tweet, "Tweet this post?") %>
    <%= p.button "New Post" %>
  <% end %>
</div>

<div class="admin_photo_form entry">
  <h3>New Photo</h3>
  <h4><a class="admin_close" href="#">Close</a></h4>
  <%= form_for @photo do |f| %>
    <%= f.file_field :image %>
    <%= f.button "Add Image" %>
  <% end %>
</div>