<h2><%= current_user.full_name %> Admin Page</h2>

<% if flash[:errors] %>
  <p class="errors"><%= flash[:errors] %></p>
<% end %>

<%= form_for @post do |p| %>
  <%= p.label :title, "Title" %>
  <%= p.text_field :title, :placeholder => "Post Title" %>
  <%= p.label :body, "Body" %>
  <%= p.text_area :body, :placeholder => "Post Body" %>
  <%= p.label :tags, "Tags" %>
  <%= p.text_field :tags, :value => nil, :placeholder => "Tags" %>
  <%= p.button "New Post" %>
<% end %>