<h2>Posts by Tag</h2>

<% if @posts %>
  <h3><%= pluralize(@posts.count, 'Result') %> with tag: '<%= @tag.tag %>'</h3>
  <% @posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post_path(post), :class => 'post_link' %></h3>
    <p class="post_time">Posted on: <%= post.posted_on %></p>
    <p><strong>Excerpt: </strong><%= smart_truncate(post.body, words: 30).html_safe %></p>
    <ul class="tags">
      <li>Tags: </li>
      <% post.tags.each do |tag| %>
        <li><%= link_to tag.tag, tag_path(tag), :class => "tag_link" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <h3>There are not posts with this tag</h3>
<% end %>

<div class="pagination"><%= link_to "Back to Blog Posts", posts_path %></div>