<a class="image_close" href="#">close</a>
<%= link_to 'delete', photo_path(@photo.id), :method => :delete, :class => "delete righty" if current_user %>
<%= image_tag @photo.image(:large), :size => '920x616' %>
<p class="exif">
  Taken on <%= @photo.taken_at.strftime("%B %d, %Y") %>
  with a <%= @photo.camera %> •
  <%= @photo.exposure %> sec. • f <%= @photo.aperture %> • <%= @photo.focal %> mm.
</p>
<ul class="popup_nav">
  <li><%= link_to 'Previous', "/photos/#{@photo.previous.id}", :class => 'photo_nav lefty' if @photo.previous %></li>
  <li><%= link_to 'Next', "/photos/#{@photo.next.id}", :class => 'photo_nav righty' if @photo.next %></li>
</ul>