<div class="post">
  <h3 class="post_title"><%= link_to post.title, post_path(post), :class => "post_link" %></h3>
  <p class="post_time">Posted on: <%= post.posted_on %></p>
  <p><%= post.body.html_safe %></p>
    <p><%= link_to "Edit", edit_post_path(post.id) if current_user %></p>
  <% if post.tags.count > 0 %>
  <ul class="tags">
    <li>Tags: </li>
    <% post.tags.each do |tag| %>
      <li><%= link_to tag.tag, tag_path(tag), :class => "tag_link" %></li>
    <% end %>
  </ul>
  <% end %>
</div>