<h2>DevSquirrel Blog</h2>

<% if Post.all.count > 0 %>
  <% @posts.each do |post| %>
    <h3 class="post_title"><%= link_to post.title, post_path(post), :class => "post_link" %></h3>
    <p><%= post.body %></p>
    <p class="post_time">Posted on: <%= post.created_at %></p>
    <% if post.tags.count > 0 %>
    <ul class="tags">
      <% post.tags.each do |tag| %>
        <li><%= link_to tag.tag, tag_path(tag), :class => "tag_link" %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  <%= will_paginate @posts %>
<% else %>
  <p>There are no posts to display</p>
<% end %>