<% if @post %>
  <div class="post">
  <h2 id="single_post_title"><%= @post.title %></h2>
  <p class="post_time">Posted on: <%= @post.posted_on %></p>
  <% @post.body.split("\r\n").each do |p| %>
    <p><%= p %></p>
  <% end %>
  <% if @post.tags.count > 0 %>
    <ul class="tags">
      <% @post.tags.each do |tag| %>
        <li><%= link_to tag.tag, tag_path(tag) %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
<% else %>
  <h2>Error</h2>
<% end %>

<div class="pagination"><%= link_to "Back to Blog Posts", posts_path %></div>