<header>
  <h1><%= link_to "DevSquirrel", root_path, :class => "home_link" %></h1>

  <ul id="home_nav">
    <li><%= link_to "about",  about_path,   :class => "about_link" %></li>
    <li><%= link_to "blog",   posts_path,   :class => "blog_link" %></li>
    <li><%= link_to "dev",    dev_path,     :class => "dev_link" %></li>
    <li><%= link_to "haiku",  haikus_path,  :class => "haiku_link" %></li>
    <li><%= link_to "photo",  photos_path,  :class => "photo_link" %></li>
  </ul>

</header>