<!DOCTYPE html>
<html>
<head>

  <% if @title %>
    <title>DevSquirrel | <%= @title %></title>
  <% else %>
    <title>DevSquirrel</title>
  <% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <header>
    <h1><%= link_to "DevSquirrel", root_path, :class => "home_link" %></h1>
  </header>

  <%= yield %>

  <footer>
    <% if current_user %>
      <p>You are logged in as <%= current_user.full_name %> | <%= link_to "Log Out", logout_path %></p>
    <% end %>
  </footer>

</body>
</html>