<!DOCTYPE html>
<html>
<head>

  <title>DevSquirrel</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

  <%= render "layouts/analytics" %>

</head>

<%= render "layouts/body" %>

  <%= render "layouts/header" %>

  <div class="page main">

    <%= render "layouts/nav" %>

    <%= render "layouts/content" %>

    <%= render "layouts/sidebar" %>

    <%= render "layouts/footer" %>

  </div> <!-- /end 'page main' -->
</body>
</html>